.App {
  font-family: "Urbanist", sans-serif;
  background-color: #525aac;
  min-height: 100vh;
  color: #d6d5ff;
}

/* Headers */

h3 {
  font-size: 1rem;
  letter-spacing: 0.04rem;
  font-weight: 500;
  line-height: 110%;
  padding-left: 0;
}

p {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.App .weather-app-wrapper {
  max-width: 46rem;
  margin: 3.5rem auto 1.2rem;
}

.App .weather-app {
  background-color: #5358ac;
  border-radius: 100px;
  border: #b4b4ff solid 3px;
  max-width: 46rem;
  padding: 1.5rem;
}
