.App {
  font-family: "Poppins", sans-serif;
  background-color: #ebf0f6;
  min-height: 100vh;
}

/* Headers */
h1,
h2,
h3,
p {
  color: #18334d;
  font-weight: 300;
}

h3 {
  font-size: 1rem;
  line-height: 110%;
  padding-left: 0;
}

p {
  font-size: 0.8rem;
}

.App .weather-app-wrapper {
  max-width: 46rem;
  margin: 3.5rem auto 1.5rem;
}

.App .weather-app {
  background-color: #fff;
  border-radius: 80px;
  max-width: 46rem;
  padding: 1.5rem;
  box-shadow: 9px 9px 24px 6px #13223811;
}
