.credit-label {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #383e79c9;
  letter-spacing: 0.03rem;
  font-weight: 600;
  text-align: center;
  font-family: "Source Code Pro", monospace;
}
.credit-label a {
  color: #383e79c9;
  text-decoration: none;
}
.credit-label a:active,
.credit-label a:hover {
  color: #99a93c;
}
