.weather-info {
  padding-top: 2rem;
}

.weather-info h1 {
  font-size: 600%;
  margin-top: 0.8rem;
  color: #d6d5ff;
  justify-self: center;
  line-height: 100%;
  font-weight: 200;
}

.weather-info h2 {
  font-size: 190%;
  letter-spacing: 0.04rem;
  font-weight: 400;
  color: #d6d5ff;
  padding: 0;
}

.weather-info img.weather-img {
  height: 7rem;
  width: 7rem;
}

.weather-info ul {
  padding: 0;
  margin: 0;
}

.weather-info li {
  font-weight: 500;
  font-size: 0.9rem;
  list-style-type: none;
  color: #d6d5ff;
  line-height: 160%;
  letter-spacing: 0.04rem;
}

.weather-info li::first-letter {
  text-transform: capitalize;
}

.weather-info a {
  letter-spacing: 0.04rem;
  text-decoration: none;
  color: #b4b4ffa8;
}

.weather-info a:hover {
  text-decoration: none;
  color: #b4b4ffa8;
}
