.weather input.search-field {
  border-radius: 100px;
  background-color: #ebf0f58c;
  border: 1px solid #ebf0f58c;
  color: #18334d;
  font-size: 13px;
  font-weight: 300;
  line-height: 0;
  width: 13rem;
  padding: 0 16px 1px 20px;
  margin-left: 1rem;
}

.weather input.search-field:active,
.weather input.search-field:hover,
.weather input.search-field:focus {
  outline: 0px !important;
  box-shadow: none !important;
  border: 1px solid #ebf0f58c;
  background-color: #ebf0f58c;
  overflow: none;
  box-shadow: none;
}

.weather input:-webkit-autofill,
.weather input:-webkit-autofill:hover,
.weather input:-webkit-autofill:focus,
.weather input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.weather input.search-field::placeholder {
  color: #18334d25;
}

button.btn-search,
button.btn-search:focus {
  background-color: #18334d;
  border-radius: 60px;
  border: none;
  height: 40px;
  padding: 0;
  margin-left: 10px;
  width: 40px;
  transition: all 200ms ease-in-out;
}

button.btn-search:hover,
button.btn-search:active {
  outline: none;
  background-color: #18334d;
  box-shadow: 4px 8px 16px #13223834;
  border: none;
}

button .img-button {
  width: 26px;
  height: 26px;
}
